li{
    color:blue;
}

h1{
    color: purple;
    font-size: 70px;
    border: 2px dashed orange;
}

body{
    background-image: url(https://s2.glbimg.com/15sJLKLaOxoiF7uKlSb7bPfcehM=/e.glbimg.com/og/ed/f/original/2018/12/04/42840169205_0188667d45_k_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.moon{
    color: orange;
}

#europa-text{
    font-size: 25px;
    color: white;
}

