* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
}

.icon{
    width: 40px;
}

.logo{
    width: 200px;
}

.buttons{
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.buttonHeader{
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    border-color: white;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}

.buttonHeader:hover{
    border-color: #ff0044;
}