*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER*/
header{
    background-color: #363636;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 8px 15px;
    flex-wrap: wrap;
}
.buttons{
    display: flex;
    gap: 15px;
}
.buttonHeader{
    background-color: transparent;
    color: white;
    padding: 6px;
    font-size: 17px;
    border: 2px solid transparent;
    cursor: pointer;
}
.buttonHeader:hover{
    border-bottom: 2px solid black;
}

.logo{
    width: 200px;
}

/* INTRODUÇÃO */
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bemvindo{
    padding-top: 20px;
    font-size: 25px;
}
.introducao{
    font-size: 20px;
    color: #525252;
}

/* GRADE */
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 70px;
    grid-template-areas: 
    "item1  item2   item3   item10"
    "item4  item5   item6   item10"
    "item7  item8   item9   item10";
}

.sportMain{
    width: 280px;
    height: 180px;
    border-radius: 20px;
}

.item{
    margin-top: 20px;
    padding: 10px;
}

.item:hover{
    border: 1px solid black;
    border-radius: 10px;
    padding: 0;
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}
.item7{
    grid-area: item7;
}
.item8{
    grid-area: item8;
}
.item9{
    grid-area: item9;
}
.item10{
    grid-area: item10;
    background-color: #363636;
    color: white;
    font: 18px Arial;
    margin-right: 20px;
    padding: 15px 0px 15px 0px;
}

/* LATERAL */
.lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; 
}
.lateral:hover{
    border: 1px solid white;
    border-radius: 10px;
}
.sportSec{
    width: 220px;
    height: 140px;
    border-radius: 10px;
    margin: 10px;
}

.item10 > p{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.item10 p{
    padding: 8px 0px 8px 0px;
}

/* FOOTER */
footer{
    background-color: #363636;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border: 15px solid #363636;
}

.logoFooter{
    width: 200px;
}

.start{
    background-color: transparent;
    color: white;
    font-size: 17px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

a{
    color: white;
    text-decoration: none;
}

/* RESPONSIVIDADE */
@media (max-width: 1220px){
    .main-content{
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
        "item1  item2 item10"
        "item3  item4 item10"
        "item5  item6 item10"
        "item7  item8 item10"
        "item9  none  item10"
    }
}

@media (max-width: 920px){
    .main-content{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "item1 item10"
        "item2 item10"
        "item3 item10"
        "item4 item10"
        "item5 item10"
        "item6 item10"
        "item7 item10"
        "item8 item10"
        "item9 item10"
    }
}

@media (max-width: 625px){
    .main-content{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "item1  item2"
        "item3  item4"
        "item5  item6"
        "item7  item8"
        "item9  none"
        "item10  item10"
    }
}