* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    display: flex;
    background-color: white;
}

footer{
    display: flex;
    background-color: white;
}

